.menuLink {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #6c757d;
    text-decoration: none;
}

.menuLink:focus,
.menuLink:hover {
    color: #006D77 !important;
}

.buttonLogout {
    background: transparent !important;
    border: none !important;
    color: #6c757d !important;
}

.buttonLogout:hover {
    color: #006D77 !important;
}