.accordion-button:not(.collapsed) {
    background-color: #343a40 !important;
    color: #adb5bd !important;
    border: #006D77 !important;
}

.accordion-button:focus {
    border: #006D77 !important;
}


